---
layout: page
---

<div class="post">
  <article>

    {% if page.current_members %}
      <h2>Current Members</h2>
      {% for group in page.current_members %}
        <h3>{{ group.category }}</h3>
        {% for member in group.members %}
          <hr>
          <div class="profile float-{% if member.align == 'left' %}left{% else %}right{% endif %}">
            {% if member.image %}
              {% assign member_image_path = member.image | prepend: 'assets/img/' %}
              {% if member.image_circular %}
                {% assign member_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign member_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=member_image_path class=member_image_class sizes=sizes alt=member.image %}
            {% endif %}
            {% if member.more_info %}
              <div class="more-info">{{ member.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if member.content %}
              {% capture member_content %}{% include_relative {{ member.content }} %}{% endcapture %}
              {{ member_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if page.past_members %}
      <h2>Past Members</h2>
      {% for group in page.past_members %}
        <h3>{{ group.category }}</h3>
        {% for member in group.members %}
          <hr>
          <div class="profile float-{% if member.align == 'left' %}left{% else %}right{% endif %}">
            {% if member.image %}
              {% assign member_image_path = member.image | prepend: 'assets/img/' %}
              {% if member.image_circular %}
                {% assign member_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign member_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=member_image_path class=member_image_class sizes=sizes alt=member.image %}
            {% endif %}
            {% if member.more_info %}
              <div class="more-info">{{ member.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if member.content %}
              {% capture member_content %}{% include_relative {{ member.content }} %}{% endcapture %}
              {{ member_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

  </article>
</div>
